/* Estilos de la barra de navegación */
header {
    background-color: #242121;
    color: #fafafa;
    padding: 0; 
    border: none; 
    margin: 0; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    border: none; 
}

.logo img {
    max-height: 50px;
}

.icons img {
    max-height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer; 
}

/* Estilos de los productos */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 60px auto 20px; 
    padding: 0 20px;
    margin-top: 9%;
}

/* Establece el espacio entre los productos y el margen a los lados */
.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: calc(33.33% - 20px); 
    box-sizing: border-box; 
}

/* Establece una altura fija para las imágenes */
.product img {
    max-width: 100%;
    height: 60%; 
    object-fit: cover; 
}

/* Añade margen a los lados de los contenedores de productos */
.product:nth-child(3n + 1) {
    margin-left: 0;
}

.product:nth-child(3n) {
    margin-right: 0;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.counter button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity {
    margin: 0 10px;
}

.buy-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.discounted {
    text-decoration: line-through;
    color: #888; 
}

/* Estilos para el sidebar del carrito */
.cart-sidebar {
    position: fixed;
    top: 60px; 
    right: -300px; 
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
    z-index: 998; 
}

.cart-sidebar.open {
    right: 0;
}

/* Estilos para el botón de cruz en el sidebar del carrito */
.close-cart-button {
    position: absolute;
    top: 6%;
    right: 10px;
    background-color: transparent;
    color: #333;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Estilos para los elementos del carrito en el sidebar */
.cart-items {
    list-style: none;
    padding: 0;
}

.cart-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-items img {
    max-width: 30px;
    max-height: 30px;
}

.checkout-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

/* Otros estilos */
body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0; 
}

/* Oculta los botones de eliminación en los contenedores de productos */
.product .remove-button {
    display: none;
}

/* Estilo para el botón de eliminación con la imagen del tachito */
.remove-button {
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
}

/* Estilo para la imagen dentro del botón */
.remove-button img {
    width: 20px; 
    height: auto; 
}

